In [1]:
import pandas as pd
import numpy as np
from collections import Counter

# READ DATA

In [2]:
bank=pd.read_csv('branch_locations.csv')
bank['ID'] = bank.index
bank=bank[['ID','branch','long','lat']]
bank.rename(columns={'branch':'location'},inplace=True)
bank

,ID,location,long,lat
0,0,"Westfield Fountain Gate, 352 Princes Highway, ...",145.304441,-38.018206
1,1,"330 Collins St, Melbourne, VIC, 3000",144.963217,-37.816309
2,2,"460 Collins St, Melbourne, VIC, 3000",144.958852,-37.817673
3,3,"288 Lygon Street, Carlton, VIC, 3053",144.967263,-37.800216
4,4,"22 Watton St, Werribee, VIC, 3030",144.661003,-37.901344
...,...,...,...,...
164,164,"40 Federal St, Rainbow, VIC, 3424",141.994995,-35.898205
165,165,"16 Gilbert Street, Torquay, VIC, 3228",144.324342,-38.332092
166,166,"299-301 Esplanade, Lakes Entrance, VIC, 3909",147.983521,-37.881281
167,167,"Midtown Plaza, 186 Swanston Street, Midtown Pl...",144.965472,-37.813131
168,168,"104 Main St, Rutherglen, VIC, 3685",146.460001,-36.054299

In [3]:
location=bank['location'].tolist()
location

['Westfield Fountain Gate, 352 Princes Highway, Westfield Fountain Gate, Narre Warren, VIC, 3805',
 '330 Collins St, Melbourne, VIC, 3000',
 '460 Collins St, Melbourne, VIC, 3000',
 '288 Lygon Street, Carlton, VIC, 3053',
 '22 Watton St, Werribee, VIC, 3030',
 'Northland Shopping Centre, 2-50 Murray Road, Northland Shopping Centre, Preston, VIC, 3072',
 '260 Clarendon St, South Melbourne, VIC, 3205',
 '415 High Street, Preston, VIC, 3072',
 'Brimbank Plaza Shopping Centre, 28 Neale Road, Corner Station Road, Brimbank Plaza Shopping Centre, Deer Park, VIC, 3023',
 'Mountain Gate Shopping Centre, 854 Burwood Highway, Mountain Gate Shopping Centre, Ferntree Gully, VIC, 3156',
 'Eastland Shopping Centre, 171-175 Maroondah Highway, Eastland Shopping Centre, Ringwood, VIC, 3134',
 '637 Glenferrie Rd, Hawthorn, VIC, 3122',
 'Westfield Knox, 425 Burwood Highway, Westfield Knox, Wantirna South, VIC, 3152',
 '224-228 Smith St, Collingwood, VIC, 3066',
 'Stud Park Shopping Centre, Cnr Stud & Fulham Rds, Stud Park Shopping Centre, Rowville, VIC, 3178',
 '337 Bridge Road, Richmond, VIC, 3121',
 '535 Bourke St, Melbourne, VIC, 3000',
 'Westfield Doncaster, 619 Doncaster Rd, Westfield Doncaster, Doncaster, VIC, 3108',
 '42 Murray St, Colac, VIC, 3250',
 '35 Church Street, Brighton, VIC, 3186',
 '73 Church Street, Whittlesea, VIC, 3757',
 'Chadstone Shopping Centre, 1341 Dandenong Road, Chadstone Shopping Centre, Chadstone, VIC, 3148',
 '566 Burke Rd, Camberwell, VIC, 3124',
 '359 Whitehorse Rd, Balwyn, VIC, 3103',
 '700 Bourke Street, Docklands, VIC, 3008',
 '1001 Sturt Street, Ballarat, VIC, 3350',
 '293 Spring Street, Reservoir, VIC, 3073',
 '800 Bourke Street, Docklands, VIC, 3008',
 '49-51 Main St, Greensborough, VIC, 3088',
 '30 Main Street, Box Hill, VIC, 3128',
 '28 Hartnett Dr, Seaford, VIC, 3198',
 'Parkmore Shopping Centre, 317 Cheltenham Road, Parkmore Shopping Centre, Keysborough, VIC, 3173',
 '165-169 Main St, Croydon, VIC, 3136',
 '1055 Point Nepean Road, Rosebud, VIC, 3939',
 '81 The Terrace, Ocean Grove, VIC, 3226',
 '266-268 Settlement Road, Thomastown, VIC, 3074',
 '185 High St, Kew, VIC, 3101',
 '39-41 High St, Berwick, VIC, 3806',
 '176 High St, Belmont, VIC, 3216',
 '186-188 High St, Wodonga, VIC, 3690',
 '536 Queensberry St, North Melbourne, VIC, 3051',
 '45 Reid St, Wangaratta, VIC, 3677',
 '500 Bourke St, Melbourne, VIC, 3000',
 '421-423 Keilor Road, Niddrie, VIC, 3042',
 'The Pines Shopping Centre, 181 Reynolds Rd, The Pines Shopping Centre, Doncaster East, VIC, 3109',
 '141 Campbell St, Swan Hill, VIC, 3585',
 'Bellarine Village Shopping Centre, 25-29 Bellarine Highway, Bellarine Village Shopping Centre, Newcomb, VIC, 3219',
 'Forest Hill Chase Shopping Centre, 270 Canterbury Road, Forest Hill Chase Shopping Centre, Forest Hill, VIC, 3131',
 '231 Bay St, Port Melbourne, VIC, 3207',
 '251 Maroondah Highway, Healesville, VIC, 3777',
 '191 Pakington St, Geelong West, VIC, 3218',
 'Lilydale Marketplace, 33 Hutchinson St, Lilydale Marketplace, Lilydale, VIC, 3140',
 'Southland Shopping Centre, Westfield Southland, 1239 Nepean Highway, Cheltenham, VIC, 3192',
 '107 Main Street, Mornington, VIC, 3931',
 '18-20 Moore St, Moe, VIC, 3825',
 'Brandon Park Shopping Centre, 608 Ferntree Gully Road, Brandon Park Shopping Centre, Wheelers Hill, VIC, 3150',
 'Highpoint Shopping Centre, 200 Rosamond Road, Highpoint Shopping Centre, Maribyrnong, VIC, 3032',
 '162 Main St, Bacchus Marsh, VIC, 3340',
 '406-408 Glenhuntly Rd, Elsternwick, VIC, 3185',
 'Cranbourne Park Shopping Centre, High St, Cranbourne Park Shopping Centre, Cranbourne, VIC, 3977',
 '100 Exhibition St, Melbourne, VIC, 3000',
 '183 Manifold St, Camperdown, VIC, 3260',
 '120 Upper Heidelberg Road, Ivanhoe, VIC, 3079',
 '102-106 Main St, Pakenham, VIC, 3810',
 '21 Brook St, Sunbury, VIC, 3429',
 '79-81 Malop St, Geelong, VIC, 3220',
 '3 Ordish Road, Dandenong South, VIC, 3175',
 'Waurn Ponds Shopping Centre, 173-199 Pioneer Road, Waurn Ponds Shopping Centre, Waurn Ponds, VIC, 3216',
 '75-77 Firebrace St, Horsham, VIC, 3400',
 '348-350 Clayton Rd, Clayton, VIC, 3168',
 '16 Kingsway, Glen Waverley, VIC, 3150',
 '114 Barkly St, Ararat, VIC, 3377',
 '145-149 Main St, Bairnsdale, VIC, 3875',
 '445 Toorak Rd, Toorak, VIC, 3142',
 '196-208 Russell St, Melbourne, VIC, 3000',
 'Epping Plaza Shopping Centre, 571-583 High Street, Corner Cooper Street, Epping Plaza Shopping Centre, Epping, VIC, 3076',
 '84 Glenferrie Road, Malvern, VIC, 3144',
 '266 Stephensons Rd, Mount Waverley, VIC, 3149',
 '145 Barker St, Castlemaine, VIC, 3450',
 'Watergardens Shopping Centre, 399 Melton Hwy, Watergardens Shopping Centre, Taylors Lakes, VIC, 3038',
 'QV Building, 228-234 Lonsdale St, QV Building, Melbourne, VIC, 3000',
 'Tarneit Central Shopping Centre, 540 Derrimut Road, Tarneit Central Shopping Centre, Tarneit, VIC, 3029',
 '140 Koroit St, Warrnambool, VIC, 3280',
 '600 Chapel St, South Yarra, VIC, 3141',
 '68 Puckle St, Moonee Ponds, VIC, 3039',
 '174 Graham St, Wonthaggi, VIC, 3995',
 '19 Victoria St, Warragul, VIC, 3820',
 '75 Nunn St, Benalla, VIC, 3672',
 'Waverley Gardens Shopping Centre, Cnr Police & Jacksons Roads, Waverley Gardens Shopping Centre, Mulgrave, VIC, 3170',
 '165-167 Hare St, Echuca, VIC, 3564',
 '143 Hogan St, Tatura, VIC, 3616',
 'Bayside Shopping Centre, 28 Beach Street, Bayside Shopping Centre, Frankston, VIC, 3199',
 '1223A Howitt St, Wendouree, VIC, 3355',
 '55 Belmore St, Yarrawonga, VIC, 3730',
 'Westfield Plenty Valley, 415 McDonalds Road, Westfield Plenty Valley, Mill Park, VIC, 3082',
 'Craigieburn Central, 340 Craigieburn Road, Craigieburn Central, Craigieburn, VIC, 3064',
 '87-89 Separation St, Geelong North, VIC, 3215',
 '111 Mollison St, Kyneton, VIC, 3444',
 '7 Pickering St, Ouyen, VIC, 3490',
 '383 Centre Rd, Bentleigh, VIC, 3204',
 'CS Square Shopping Centre, 29-35 Lake Street, CS Square Shopping Centre, Caroline Springs, VIC, 3023',
 'Strath Village Shopping Centre, 134 Condon St, Strath Village Shopping Centre, Kennington, VIC, 3550',
 '333 Springvale Rd, Springvale, VIC, 3171',
 'Shop 128, Casey Central SC, 400 Narre Warren - Cranbourne Rd, Casey Central, Narre Warren South, VIC, 3805',
 '79 King George St, Cohuna, VIC, 3568',
 'Point Cook Town Centre, 1 Main Street, Point Cook Town Centre, Point Cook, VIC, 3030',
 '55 Deakin Ave, Mildura, VIC, 3500',
 'Werribee Plaza Shopping Centre, Derrimut and Heath Roads, Werribee Plaza Shopping Centre, Hoppers Crossing, VIC, 3029',
 'Sunshine Marketplace, 80 Harvester Road, Sunshine Marketplace, Sunshine, VIC, 3020',
 'Dandenong Plaza, 1 McCrae Street, Dandenong Plaza, Dandenong, VIC, 3175',
 '92 McLennan St, Mooroopna, VIC, 3629',
 '71-79 Nicholson St, Orbost, VIC, 3888',
 '50 Thompson Ave, Cowes, VIC, 3922',
 'Woodgrove Shopping Centre, 533-555 High Street, Woodgrove Shopping Centre, Melton, VIC, 3337',
 '57-59 Mitchell St, Bendigo, VIC, 3550',
 '406 Sydney Road, Coburg, VIC, 3058',
 '82-88 Franklin Street, Traralgon, VIC, 3844',
 '199 Princes Drive, Morwell, VIC, 3840',
 'Broadmeadows Shopping Centre, 1099 Pascoe Vale Road, Broadmeadows Shopping Centre, Broadmeadows, VIC, 3047',
 '329 Sturt Street, Ballarat, VIC, 3350',
 '57 Florence St, Mentone, VIC, 3194',
 '2 Eaton St, Oakleigh, VIC, 3166',
 '19-21 Douglas Parade, Williamstown, VIC, 3016',
 '64 Elizabeth St, Edenhope, VIC, 3318',
 '50 Ranelagh Dr, Mount Eliza, VIC, 3930',
 '76 High St, Mansfield, VIC, 3722',
 '67 High Street, Wallan, VIC, 3756',
 'Drysdale Village Shopping Centre, 16 Wyndham St, Drysdale Village Shopping Centre, Drysdale, VIC, 3222',
 '158 Scott St, Warracknabeal, VIC, 3393',
 '40 Station St, Seymour, VIC, 3660',
 '381 Wyndham St, Shepparton, VIC, 3630',
 'Chifley Business Park, 1 Joseph Avenue, Chifley Business Park, Moorabbin Airport, VIC, 3194',
 '89 Johnson St, Maffra, VIC, 3860',
 '93 High St, Terang, VIC, 3264',
 '149 High St, Maryborough, VIC, 3465',
 '245 Raymond St, Sale, VIC, 3850',
 'Westfield Airport West, 25-35 Louis St, Westfield Airport West, Airport West, VIC, 3042',
 '34 Ireland St, Bright, VIC, 3741',
 '81 Punt Rd, Cobram, VIC, 3644',
 '54 High St, Hastings, VIC, 3915',
 '41 Melville St, Numurkah, VIC, 3636',
 '726 Mountain Hwy, Bayswater, VIC, 3153',
 '51 Victoria St, Nhill, VIC, 3418',
 '64 Percy St, Portland, VIC, 3305',
 '322 High St, Nagambie, VIC, 3608',
 '23 McCartin St, Leongatha, VIC, 3953',
 '103-105 Koornang Road, Carnegie, VIC, 3163',
 '29 Brantome St, Gisborne, VIC, 3437',
 '211 Commercial Rd, Yarram, VIC, 3971',
 '104 High St, Heathcote, VIC, 3523',
 '18 Sydney Street, Kilmore, VIC, 3764',
 '33 Roy St, Jeparit, VIC, 3423',
 '44 Victoria St, Kerang, VIC, 3579',
 'Dromana Hub Shopping Centre, 217 Nepean Highway, Dromana Hub Shopping Centre, Dromana, VIC, 3936',
 '49 Main St, Timboon, VIC, 3268',
 'Glendinning St, Balmoral, VIC, 3407',
 '67-69 Grant St, Alexandra, VIC, 3714',
 '34 Curdie St, Cobden, VIC, 3266',
 '69 Commercial St, Kaniva, VIC, 3419',
 '342-344 Belgrave-Gembrook Rd, Emerald, VIC, 3782',
 '131 Gray St, Hamilton, VIC, 3300',
 "3 A'Beckett St, Inverloch, VIC, 3996",
 '182 Allan St, Kyabram, VIC, 3620',
 '29 Napier St, St Arnaud, VIC, 3478',
 '40 Federal St, Rainbow, VIC, 3424',
 '16 Gilbert Street, Torquay, VIC, 3228',
 '299-301 Esplanade, Lakes Entrance, VIC, 3909',
 'Midtown Plaza, 186 Swanston Street, Midtown Plaza, Melbourne, VIC, 3000',
 '104 Main St, Rutherglen, VIC, 3685']

In [4]:
bank_suburb=[]
for l in location:
    ll=l.split(', ')
    bank_suburb.append(ll[-3])
bank_suburb

['Narre Warren',
 'Melbourne',
 'Melbourne',
 'Carlton',
 'Werribee',
 'Preston',
 'South Melbourne',
 'Preston',
 'Deer Park',
 'Ferntree Gully',
 'Ringwood',
 'Hawthorn',
 'Wantirna South',
 'Collingwood',
 'Rowville',
 'Richmond',
 'Melbourne',
 'Doncaster',
 'Colac',
 'Brighton',
 'Whittlesea',
 'Chadstone',
 'Camberwell',
 'Balwyn',
 'Docklands',
 'Ballarat',
 'Reservoir',
 'Docklands',
 'Greensborough',
 'Box Hill',
 'Seaford',
 'Keysborough',
 'Croydon',
 'Rosebud',
 'Ocean Grove',
 'Thomastown',
 'Kew',
 'Berwick',
 'Belmont',
 'Wodonga',
 'North Melbourne',
 'Wangaratta',
 'Melbourne',
 'Niddrie',
 'Doncaster East',
 'Swan Hill',
 'Newcomb',
 'Forest Hill',
 'Port Melbourne',
 'Healesville',
 'Geelong West',
 'Lilydale',
 'Cheltenham',
 'Mornington',
 'Moe',
 'Wheelers Hill',
 'Maribyrnong',
 'Bacchus Marsh',
 'Elsternwick',
 'Cranbourne',
 'Melbourne',
 'Camperdown',
 'Ivanhoe',
 'Pakenham',
 'Sunbury',
 'Geelong',
 'Dandenong South',
 'Waurn Ponds',
 'Horsham',
 'Clayton',
 'Glen Waverley',
 'Ararat',
 'Bairnsdale',
 'Toorak',
 'Melbourne',
 'Epping',
 'Malvern',
 'Mount Waverley',
 'Castlemaine',
 'Taylors Lakes',
 'Melbourne',
 'Tarneit',
 'Warrnambool',
 'South Yarra',
 'Moonee Ponds',
 'Wonthaggi',
 'Warragul',
 'Benalla',
 'Mulgrave',
 'Echuca',
 'Tatura',
 'Frankston',
 'Wendouree',
 'Yarrawonga',
 'Mill Park',
 'Craigieburn',
 'Geelong North',
 'Kyneton',
 'Ouyen',
 'Bentleigh',
 'Caroline Springs',
 'Kennington',
 'Springvale',
 'Narre Warren South',
 'Cohuna',
 'Point Cook',
 'Mildura',
 'Hoppers Crossing',
 'Sunshine',
 'Dandenong',
 'Mooroopna',
 'Orbost',
 'Cowes',
 'Melton',
 'Bendigo',
 'Coburg',
 'Traralgon',
 'Morwell',
 'Broadmeadows',
 'Ballarat',
 'Mentone',
 'Oakleigh',
 'Williamstown',
 'Edenhope',
 'Mount Eliza',
 'Mansfield',
 'Wallan',
 'Drysdale',
 'Warracknabeal',
 'Seymour',
 'Shepparton',
 'Moorabbin Airport',
 'Maffra',
 'Terang',
 'Maryborough',
 'Sale',
 'Airport West',
 'Bright',
 'Cobram',
 'Hastings',
 'Numurkah',
 'Bayswater',
 'Nhill',
 'Portland',
 'Nagambie',
 'Leongatha',
 'Carnegie',
 'Gisborne',
 'Yarram',
 'Heathcote',
 'Kilmore',
 'Jeparit',
 'Kerang',
 'Dromana',
 'Timboon',
 'Balmoral',
 'Alexandra',
 'Cobden',
 'Kaniva',
 'Emerald',
 'Hamilton',
 'Inverloch',
 'Kyabram',
 'St Arnaud',
 'Rainbow',
 'Torquay',
 'Lakes Entrance',
 'Melbourne',
 'Rutherglen']

In [8]:
len(bank_suburb)

169

In [9]:
house=pd.read_excel('PSV_SUBURB_HOUSE_1stQrt_2022.xlsx',index_col='SUBURB')

In [10]:
for i in range(len(bank_suburb)):
    s = bank_suburb[i]
    if s.upper() not in house.index.tolist():
        print(i,s)

1 Melbourne
2 Melbourne
16 Melbourne
24 Docklands
25 Ballarat
27 Docklands
42 Melbourne
60 Melbourne
66 Dandenong South
74 Melbourne
80 Melbourne
96 Geelong North
119 Ballarat
131 Moorabbin Airport
155 Balmoral
167 Melbourne

In [11]:
dd=dict(Counter(bank_suburb))
sorted(list(dd.items()))

[('Airport West', 1),
 ('Alexandra', 1),
 ('Ararat', 1),
 ('Bacchus Marsh', 1),
 ('Bairnsdale', 1),
 ('Ballarat', 2),
 ('Balmoral', 1),
 ('Balwyn', 1),
 ('Bayswater', 1),
 ('Belmont', 1),
 ('Benalla', 1),
 ('Bendigo', 1),
 ('Bentleigh', 1),
 ('Berwick', 1),
 ('Box Hill', 1),
 ('Bright', 1),
 ('Brighton', 1),
 ('Broadmeadows', 1),
 ('Camberwell', 1),
 ('Camperdown', 1),
 ('Carlton', 1),
 ('Carnegie', 1),
 ('Caroline Springs', 1),
 ('Castlemaine', 1),
 ('Chadstone', 1),
 ('Cheltenham', 1),
 ('Clayton', 1),
 ('Cobden', 1),
 ('Cobram', 1),
 ('Coburg', 1),
 ('Cohuna', 1),
 ('Colac', 1),
 ('Collingwood', 1),
 ('Cowes', 1),
 ('Craigieburn', 1),
 ('Cranbourne', 1),
 ('Croydon', 1),
 ('Dandenong', 1),
 ('Dandenong South', 1),
 ('Deer Park', 1),
 ('Docklands', 2),
 ('Doncaster', 1),
 ('Doncaster East', 1),
 ('Dromana', 1),
 ('Drysdale', 1),
 ('Echuca', 1),
 ('Edenhope', 1),
 ('Elsternwick', 1),
 ('Emerald', 1),
 ('Epping', 1),
 ('Ferntree Gully', 1),
 ('Forest Hill', 1),
 ('Frankston', 1),
 ('Geelong', 1),
 ('Geelong North', 1),
 ('Geelong West', 1),
 ('Gisborne', 1),
 ('Glen Waverley', 1),
 ('Greensborough', 1),
 ('Hamilton', 1),
 ('Hastings', 1),
 ('Hawthorn', 1),
 ('Healesville', 1),
 ('Heathcote', 1),
 ('Hoppers Crossing', 1),
 ('Horsham', 1),
 ('Inverloch', 1),
 ('Ivanhoe', 1),
 ('Jeparit', 1),
 ('Kaniva', 1),
 ('Kennington', 1),
 ('Kerang', 1),
 ('Kew', 1),
 ('Keysborough', 1),
 ('Kilmore', 1),
 ('Kyabram', 1),
 ('Kyneton', 1),
 ('Lakes Entrance', 1),
 ('Leongatha', 1),
 ('Lilydale', 1),
 ('Maffra', 1),
 ('Malvern', 1),
 ('Mansfield', 1),
 ('Maribyrnong', 1),
 ('Maryborough', 1),
 ('Melbourne', 8),
 ('Melton', 1),
 ('Mentone', 1),
 ('Mildura', 1),
 ('Mill Park', 1),
 ('Moe', 1),
 ('Moonee Ponds', 1),
 ('Moorabbin Airport', 1),
 ('Mooroopna', 1),
 ('Mornington', 1),
 ('Morwell', 1),
 ('Mount Eliza', 1),
 ('Mount Waverley', 1),
 ('Mulgrave', 1),
 ('Nagambie', 1),
 ('Narre Warren', 1),
 ('Narre Warren South', 1),
 ('Newcomb', 1),
 ('Nhill', 1),
 ('Niddrie', 1),
 ('North Melbourne', 1),
 ('Numurkah', 1),
 ('Oakleigh', 1),
 ('Ocean Grove', 1),
 ('Orbost', 1),
 ('Ouyen', 1),
 ('Pakenham', 1),
 ('Point Cook', 1),
 ('Port Melbourne', 1),
 ('Portland', 1),
 ('Preston', 2),
 ('Rainbow', 1),
 ('Reservoir', 1),
 ('Richmond', 1),
 ('Ringwood', 1),
 ('Rosebud', 1),
 ('Rowville', 1),
 ('Rutherglen', 1),
 ('Sale', 1),
 ('Seaford', 1),
 ('Seymour', 1),
 ('Shepparton', 1),
 ('South Melbourne', 1),
 ('South Yarra', 1),
 ('Springvale', 1),
 ('St Arnaud', 1),
 ('Sunbury', 1),
 ('Sunshine', 1),
 ('Swan Hill', 1),
 ('Tarneit', 1),
 ('Tatura', 1),
 ('Taylors Lakes', 1),
 ('Terang', 1),
 ('Thomastown', 1),
 ('Timboon', 1),
 ('Toorak', 1),
 ('Torquay', 1),
 ('Traralgon', 1),
 ('Wallan', 1),
 ('Wangaratta', 1),
 ('Wantirna South', 1),
 ('Warracknabeal', 1),
 ('Warragul', 1),
 ('Warrnambool', 1),
 ('Waurn Ponds', 1),
 ('Wendouree', 1),
 ('Werribee', 1),
 ('Wheelers Hill', 1),
 ('Whittlesea', 1),
 ('Williamstown', 1),
 ('Wodonga', 1),
 ('Wonthaggi', 1),
 ('Yarram', 1),
 ('Yarrawonga', 1)]

# GENERATE LOAN DATA FROM HOUSE DATA

In [12]:
#read house data
house=pd.read_excel('PSV_SUBURB_HOUSE_1stQrt_2022.xlsx',index_col='SUBURB')
house

                PRICE  AMOUNT
SUBURB
ABBOTSFORD    1590000      18
ABERFELDIE    1892500      14
AINTREE        800000      37
AIREYS INLET  1750000       4
AIRPORT WEST   928000      27
...               ...     ...
YARRAM         452500      14
YARRAVILLE    1355000      48
YARRAWONGA     732000      40
YEA            610000       6
YINNAR         562500       4

[802 rows x 2 columns]

In [13]:
# generate loans based on house prices and no. of sales across suburbs in VIC
np.random.seed(2023)
loan_amount = []
loan_type = []
for i,row in house.iterrows():
    p = row['PRICE']
    n = row['AMOUNT']
    loan_amount+=list(np.round(np.random.normal(p, 100, n),0))
    loan_type+=list(np.random.randint(0,2,n))

In [14]:
loan_amount[:15]

[1590071.0,
 1589968.0,
 1589900.0,
 1590024.0,
 1589990.0,
 1589886.0,
 1590265.0,
 1590144.0,
 1590010.0,
 1589688.0,
 1589892.0,
 1589967.0,
 1589896.0,
 1589957.0,
 1589897.0]

In [15]:
print('total number:',len(loan_amount),' total amount:',sum(loan_amount))
print('total number:',len(loan_type),' total amount:',sum(loan_type))

total number: 21095  total amount: 19967929602.0
total number: 21095  total amount: 10629

In [16]:
#total amount of loans per bank
sum(loan_amount)/len(bank)

118153429.59763314

In [17]:
loan_df=pd.DataFrame({'loan_amount':loan_amount,'loan_type':loan_type})
loan_df

       loan_amount  loan_type
0        1590071.0          1
1        1589968.0          1
2        1589900.0          0
3        1590024.0          1
4        1589990.0          1
...            ...        ...
21090     609948.0          1
21091     562556.0          1
21092     562592.0          1
21093     562554.0          1
21094     562674.0          0

[21095 rows x 2 columns]

In [18]:
#loan_df.to_csv('loan.csv',sep=',',index=False,header=True)

# GENERATING THE CAPCITIES FOR EACH BANK

## 1. randomly generate (all banks have a similiar capcity)

In [20]:
capcities = []
np.random.seed(2023)
# cap = mean of total loans * some random number between 0.95-1
capcities=list(np.round(np.random.randint(95,100,len(bank))/100*sum(loan_amount)/(len(bank))))
capcities[:10]

[113427292.0,
 113427292.0,
 116971895.0,
 115790361.0,
 116971895.0,
 116971895.0,
 112245758.0,
 113427292.0,
 112245758.0,
 114608827.0]

In [21]:
print('no. of bank:',len(capcities),' total capcities:',sum(capcities))

no. of bank: 169  total capcities: 19399611585.0

## 2. weighted randomly generate

In [22]:
# assume a bank in a suburb with a higher house price needs a higher capcity
bank_suburb_price=[]
for i in range(len(bank_suburb)):
    s = bank_suburb[i]
    if s.upper() in house.index.tolist():
        #print(i,s)
        bank_suburb_price.append(house.loc[s.upper()]['PRICE'])
    # if the suburb that a bank located not in the house data
    elif s.upper()=='BALLARAT':
        bank_suburb_price.append(house.loc['BALLARAT CENTRAL']['PRICE'])
    elif s.upper()=='BALMORAL':
        bank_suburb_price.append(house.loc['COLERAINE']['PRICE'])
    elif s.upper()=='DANDENONG SOUTH':
        bank_suburb_price.append((house.loc['DANDENONG']['PRICE']+house.loc['DANDENONG NORTH']['PRICE'])/2)
    elif s.upper()=='DOCKLANDS':
        bank_suburb_price.append(550000)
    elif s.upper()=='GEELONG NORTH':
        bank_suburb_price.append((house.loc['GEELONG']['PRICE']+house.loc['GEELONG WEST']['PRICE'])/2)
    elif s.upper()=='MOORABBIN AIRPORT':
        bank_suburb_price.append(house.loc['MOORABBIN']['PRICE'])
    elif s=='Melbourne':
        bank_suburb_price.append(1116000)
    elif s=='Narre Warre South':
        bank_suburb_price.append(house.loc['NARRE WARREN SOUTH']['PRICE'])
bank_suburb_price

[771500,
 1116000,
 1116000,
 1867500,
 628000,
 1315000,
 1842500,
 1315000,
 646000,
 911800,
 1046500,
 2480000,
 1372500,
 1289000,
 1102000,
 1380100,
 1116000,
 1550000,
 500000,
 3380000,
 800000,
 1192500,
 2650000,
 2833000,
 550000,
 760000,
 1005000,
 550000,
 990000,
 1810000,
 940000,
 925000,
 980000,
 852000,
 1127500,
 725000,
 2737500,
 903100,
 795000,
 499500,
 1310000,
 530000,
 1116000,
 1376500,
 1567500,
 359000,
 610000,
 1245000,
 1567500,
 820000,
 1060000,
 860000,
 1493500,
 1225000,
 360000,
 1486500,
 1170000,
 662500,
 2337500,
 677500,
 1116000,
 440000,
 2015000,
 662000,
 675000,
 855000,
 734300.0,
 817500,
 388800,
 1100000,
 1650500,
 310000,
 426500,
 4377500,
 1116000,
 700000,
 4000000,
 1600000,
 720000,
 965000,
 1116000,
 654000,
 597500,
 1935000,
 1745000,
 585000,
 673500,
 435000,
 989500,
 525000,
 438000,
 787000,
 500000,
 732000,
 830000,
 670000,
 957500.0,
 875000,
 140000,
 1740000,
 735000,
 592500,
 886500,
 818000,
 285000,
 765000,
 437500,
 630000,
 945000,
 725000,
 380000,
 295000,
 1067500,
 500000,
 670100,
 1280000,
 474000,
 315000,
 609000,
 760000,
 1545000,
 1490000,
 1601000,
 168800,
 1880000,
 770000,
 625000,
 805000,
 230000,
 490000,
 405000,
 1440000,
 377000,
 343000,
 391000,
 515000,
 928000,
 1169500,
 377500,
 722500,
 387500,
 950000,
 187500,
 422000,
 650000,
 645000,
 1710000,
 1235000,
 452500,
 500000,
 611800,
 147500,
 260000,
 1100000,
 465000,
 256000,
 547000,
 380500,
 139000,
 945000,
 365000,
 1002000,
 397500,
 285000,
 142500,
 1350000,
 545000,
 1116000,
 475000]

In [23]:
#check this list's length
len(bank_suburb_price)==len(bank)

True

In [24]:
bank_weight=bank_suburb_price/sum(bank_suburb_price)
np.random.seed(2023)
# cap = weight * total amount of loan * some random number between 0.95-1
capcities2=list(np.round(bank_weight*np.random.randint(95,100,len(bank))/100*sum(loan_amount)))
capcities2[:10]

[91908072.0,
 132948034.0,
 137102661.0,
 227108391.0,
 77150960.0,
 161550178.0,
 217208889.0,
 156654718.0,
 76155735.0,
 109753358.0]

In [25]:
print('no. of bank:',len(capcities2),' total capcities:',sum(capcities2))

no. of bank: 169  total capcities: 19391134963.0